/*-------------------- busquedaPeli --------------------*/
.busquedaPeli {
	height: auto;
	width: 90%;
	margin: 2.5% 5% 3% 5%;
}
.busquedaPeli .contador {
	height: 40px;
	border-bottom: 1px solid #CBCBCB;
}
.busquedaPeli .contador span {
	float: left;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Calibri';
	font-size: 150%;
	font-weight: bold;
	line-height: 40px;
}
.busquedaPeli .resultados {
	height: 140px;
	width: 80%;
	margin: auto;
	border-bottom: 1px solid #CBCBCB;
	cursor: pointer;
}
.busquedaPeli .resultados:hover {
	background-color: #F3F3F3;
}
.busquedaPeli .resultados img {
	float: left;
	margin: 10px 0 10px 5%;
	border-radius: 10px;
}
.busquedaPeli .resultados span {
	float: right;
	margin: 55px 5% 55px 0;
	text-align: center;
	font-family: 'Calibri';
	font-size: 120%;
	font-weight: bold;
	color: #2447B2;
}
@media only screen and (max-width : 650px) {
	.busquedaPeli .contador span {
		margin: 0 17% 0 17%;
	}
	.busquedaPeli .resultados {
		width: 100%;
	}
	.busquedaPeli .resultados img {
		float: left;
		margin: 10px 0 10px 2%;
		border-radius: 10px;
	}
	.busquedaPeli .resultados span {
		margin: 55px 2% 55px 0;
		font-size: 100%;
	}
}
@media only screen and (max-width: 580px) {
	.busquedaPeli .contador span {
		margin: 0 16% 0 16%;
	}
}
@media only screen and (max-width: 565px) {
	.busquedaPeli .contador span {
		margin: 0 15% 0 15%;
	}
}
@media only screen and (max-width: 545px) {
	.busquedaPeli .contador span {
		margin: 0 13% 0 13%;
	}
}
@media only screen and (max-width: 520px) {
	.busquedaPeli .contador span {
		margin: 0 12% 0 12%;
	}
}
@media only screen and (max-width: 505px) {
	.busquedaPeli .contador span {
		margin: 0 11% 0 11%;
	}
}
@media only screen and (max-width: 490px) {
	.busquedaPeli .contador span {
		margin: 0 10% 0 10%;
	}
}
@media only screen and (max-width: 480px) {
	.busquedaPeli .contador span {
		margin: 0 9% 0 9%;
	}
}
@media only screen and (max-width: 470px) {
	.busquedaPeli .contador span {
		margin: 0 8% 0 8%;
	}
}
@media only screen and (max-width: 460px) {
	.busquedaPeli .contador span {
		margin: 0 7% 0 7%;
	}
}
@media only screen and (max-width: 450px) {
	.busquedaPeli .contador span {
		margin: 0 6% 0 6%;
	}
}
@media only screen and (max-width: 440px) {
	.busquedaPeli .contador span {
		margin: 0 4% 0 4%;
	}
}