/*-------------------- CreaciónPeli --------------------*/
.crearPeli form {
	height: 460px;
	width: 90%;
	margin: 25px 5% 28px 5%;
}
.crearPeli form fieldset {
	width: 100%;
}
.crearPeli form fieldset legend {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Calibri';
	font-size: 150%;
	font-weight: bold;
}
.crearPeli form fieldset legend strong {
	font-size: 50%;
	text-transform: initial;
}
.crearPeli .left {
	height: 330px;
	width: 49.9%;
	float: left;
	border-right: 1px solid #CBCBCB;
	padding-left: 3%;
}
.crearPeli .left .formResponsive {
	display: none;
}
.crearPeli .right {
	height: 330px;
	width: 49.9%;
	float: right;
	padding-left: 3%;
}
.crearPeli textarea {
	resize: none;
}
.crearPeli .actores, #actores {
	height: 140px;
}
.crearPeli .actores div:nth-child(4), #actores div:nth-child(4) {
	float: right;
	margin-top: 10px;
	margin-right: 8%;
}
.crearPeli .actores input[type="button"], #actores input[type="button"] {
	height: 34px;
	width: 80%;
	position: absolute;
	right: 20%;
	background-color: #2447B2;
	color: white;
	font-family: 'Calibri';
	font-size: 110%;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
}
.actores input[type="button"]:hover, #actores input[type="button"]:hover {
	background-color: #19327D;
	color: #FFFF00;
}
.crearPeli .file {
	height: 34px;
	width: 100%;
}
.crearPeli .file div:last-child {
	float: left;
	height: 34px;
	width: 200px;
}
.crearPeli .file div button {
	height: 34px;
	width: 55%;
	float: left;
	background-color: #2447B2;
	color: white;
	font-family: 'Calibri';
	font-size: 110%;
	font-weight: bold;
	border-radius: 5px;
	text-align: center;
}
.crearPeli .file div button:hover {
	background-color: #19327D;
	color: #FFFF00;
}
.crearPeli .file div input[type="file"] {
	display: none;
}
.crearPeli .button { 
	text-align: center;
}
.crearPeli fieldset .button input {
	margin-top: 1.5%;
}
.crearPeli input[type="button"] {
	font-weight: bold;
}
.crearPeli .obligatorio {
	color: red;
}
.loading {
	height: auto;
	width: 100%;
	display: none;
}
.loading img {
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -40px;
	margin-left: -40px;
}
@media only screen and (max-width: 992px) {
	.crearPeli form {
		height: 500px;
	}
	.crearPeli .left {
		height: 390px;
	}
	.crearPeli .right {
		height: 390px;
	}
	.crearPeli form fieldset .file button {
		width: 65%;
		left: 36%;
	}
	.crearPeli .actores div:nth-child(4), #actores div:nth-child(4) {
		float: left;
		margin-top: 10px;
	}
	.crearPeli .file {
		float: left;
		width: 100%;
		margin-top: 15px;
	}
	.crearPeli .file div:last-child {
		float: left;
	}
}
@media only screen and (max-width: 768px) {
	.crearPeli form {
		height: 880px;
	}
	.crearPeli form fieldset legend {
		text-align: left;
	}
	.crearPeli .left {
		width: 100%;
		border: 0;
	}
	.crearPeli .left .formResponsive {
		display: block;
	}
	.crearPeli .right {
		display: none;
	}
	.crearPeli #actores div:nth-child(4) {
		width: 100%;
	}
	.crearPeli .button {
		display: inline-block;
		margin-top: 370px;
		margin-left: 41%;
	}
}
@media only screen and (max-width: 550px) {
	.crearPeli .button {
		margin-left: 40%;
	}
}
@media only screen and (max-width: 410px) {
	.crearPeli .file div:first-child {
		width: 35%;
	}
	.crearPeli .button {
		margin-left: 32%;
	}
}