/*-------------------- Loading --------------------*/
.loading {
	height: auto;
	width: 100%;
	display: none;
}
.loading img {
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -45px;
	margin-left: -45px; 
}