/*-------------------- Login --------------------*/
#login {
	float: left;
	width: 70%;
}
#login .row {
	margin: 1%;
}
#login label {
	float: left;
}
#login button[type="submit"] {
	font-weight: bold;
}