/*-------------------- Perfil --------------------*/
.perfil {
	height: 800px;
	width: 70%;
	margin: 35px 15% 35px 15%;
	border: 1px solid black;
	border-radius: 10px;
	background-color: #262626;
}
.perfil .cabecera {
	height: 200px;
	width: 100%;
	border-bottom: 1px solid #808080;
	border-radius: 10px;
}
.perfil .cabecera img {
	height: 150px;
	width: 140px;
	float: left;
	margin: 1.8% 0 1.6% 2%;
}
.perfil .cabecera .nick {
	float: left;
	color: white;
	text-align: center;	
	letter-spacing: 1px;
	font-family: "Calibri";
	font-weight: bold;
	font-size: 2.4em;
	margin: 5.5% 0 0 3%;
}
.perfil .infoPersonal {
	float: right;
	height: 100%;
	width: 35%;
	padding: 2.5% 0 2.5% 2%;
	border-left: 1px solid #808080;
}
.perfil .infoPersonal p {
	color: white;
	font-family: "Calibri";
	font-weight: bold;
	font-size: 1.1em;
	margin-bottom: 5%;
}
.perfil .infoPersonal p b {
	float: left;
}
.perfil .infoPersonal p span {
	font-weight: normal;
	font-size: 0.9em;
	margin-left: 1%;
}
.perfil .restoPerfil {
	height: 600px;
	width: 100%;
}
.perfil .restoPerfil div {
	border-radius: 10px;
}
.perfil .restoPerfil .comentarios {
	height: 100%;
	width: 50%;
	float: right;
	padding: 1.5%;
	border-left: 1px solid #808080;
	overflow-y: scroll;
}
.perfil .restoPerfil .comentarios > span {
	text-align: center;
}
.perfil .restoPerfil .comentarios div {
	width: 100%;
	color: white;
	font-family: "Calibri";
	border-bottom: 1px solid #808080;
	border-radius: initial;
}
.perfil .restoPerfil .comentarios div p:first-child {
	margin-top: 2.5%;
}
.perfil .restoPerfil .comentarios div p:first-child a:hover {
	color: #33BDFF;
	text-decoration: none;
}
.perfil .restoPerfil .comentarios div p:nth-child(2) {
	margin-left: 3%;
}
.perfil .restoPerfil .biografia {
	height: 45%;
	width: 50%;
	float: left;
	padding: 1.5%;
	border-bottom: 1px solid #808080;
}
.perfil .restoPerfil .biografia textarea {
	resize: none;
}
.perfil .restoPerfil .biografia div p {
	color: white;
	font-family: "Calibri";
	margin-top: 2.5%;
}
.perfil .restoPerfil .pelisAgregadas {
	height: 55%;
	width: 50%;
	float: left;
	padding: 1.5%;
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap;
}
.perfil .restoPerfil .pelisAgregadas div {
	height: 85%;
	width: 32.9%;
	display: inline-block;
	color: white;
	font-family: "Calibri";
	margin-top: 3%;
	padding: 10% 0 0 8%;
	border-right: 1px solid #808080;
	border-radius: initial;
}
.perfil .restoPerfil .pelisAgregadas div:last-child {
	border-right: none;
}
.perfil .restoPerfil .pelisAgregadas div img {
	margin-bottom: 8%;
}
.perfil .restoPerfil .pelisAgregadas div a:hover {
	color: #33BDFF;
	text-decoration: none;
}
.perfil .restoPerfil .title {
	color: white;	
	font-family: "Calibri";
	font-size: 1.3em;
}
.perfil .restoPerfil .comentarios:hover,
.perfil .restoPerfil .biografia:hover,
.perfil .restoPerfil .pelisAgregadas:hover {
	background-color: #404040;
}
.perfil .glyphicon-pencil {
	margin-left: 3%;
}
.perfil .glyphicon-remove {
	margin-left: 5%;
}
@media only screen and (max-width: 1600px) {
	.perfil .cabecera img {
		margin-top: 2.8%;
	}
	.perfil .cabecera .nick {
		margin-top: 7.5%;
	}
}
@media only screen and (max-width: 1300px) {
	.perfil .cabecera img {
		margin-top: 3%;
	}
	.perfil .cabecera .nick {
		margin-top: 9%;
	}
	.perfil .infoPersonal {
		width: 38%;
		padding-top: 3.6%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 5%;
	}
}
@media only screen and (max-width: 1200px) {
	.perfil {
		width: 90%;
		margin: 35px 5% 35px 5%;
	}
	.perfil .cabecera img {
		margin-top: 2.4%;
	}
	.perfil .cabecera .nick {
		margin-top: 7%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 6%;
	}
}
@media only screen and (max-width: 1100px) {
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 5%;
	}
}
@media only screen and (max-width: 1000px) {
	.perfil {
		height: 1140px;
	}
	.perfil .cabecera {
		width: 100%;

	}
	.perfil .cabecera img {
		margin: 3% 0 0 25%;
	}
	.perfil .cabecera .nick {
		margin-top: 9%;
	}
	.perfil .cabecera .infoPersonal {
		height: 200px;
		width: 100%;
		display: block;
		padding-top: 5%;
		border-left: none;
		border-bottom: 1px solid #808080;
		border-radius: 10px;
	}
	.perfil .cabecera .infoPersonal p {
		margin: 0 0 2% 35%;
	}
	.perfil .restoPerfil .biografia {
		height: 250px;
		width: 100%;
		display: block;
		padding-top: 3%;
	}
	.perfil .restoPerfil .comentarios {
		height: 250px;
		width: 100%;
		padding-top: 3%;
		border-left: none;
		border-bottom: 1px solid #808080;
	}
	.perfil .restoPerfil .comentarios > div {
		border-bottom: 1px solid #333;
	}
	.perfil .restoPerfil .pelisAgregadas {
		height: 250px;
		width: 100%;
		padding-top: 3%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding: 1% 0 0 11%;
	}
	.perfil .glyphicon-pencil {
		margin-left: 1.5%;
	}
	.perfil .glyphicon-remove {
		margin-left: 2%;
	}
}
@media only screen and (max-width: 950px) {
	.perfil .cabecera .infoPersonal {
		padding-top: 6%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 10%;
	}
}
@media only screen and (max-width: 850px) {
	.perfil .cabecera img {
		margin: 3.5% 0 0 23%;
	}
	.perfil .cabecera .nick {
		margin-top: 11%;
	}
	.perfil .cabecera .infoPersonal {
		padding-top: 6.5%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 9.4%;
	}
	.perfil .cabecera .infoPersonal p {
		margin-bottom: 2.5%;
	}
}
@media only screen and (max-width: 750px) {
	.perfil .cabecera img {
		margin: 4% 0 0 21%;
	}
	.perfil .cabecera .nick {
		margin-top: 12%;
	}
	.perfil .cabecera .infoPersonal {
		padding-top: 8%;
	}
	.perfil .cabecera .infoPersonal p {
		margin-left: 31%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding: 3% 0 0 9%;
	}
}
@media only screen and (max-width: 700px) {
	.perfil .cabecera img {
		margin: 4.5% 0 0 18%;
	}
	.perfil .cabecera .nick {
		margin-top: 13%;
	}
	.perfil .cabecera .infoPersonal {
		padding-top: 8.5%;
	}
	.perfil .cabecera .infoPersonal p {
		margin-left: 28%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 8%;
	}
}
@media only screen and (max-width: 650px) {
	.perfil .cabecera img {
		margin-left: 16%;
	}
	.perfil .cabecera .infoPersonal {
		padding-top: 7.5%;
	}
	.perfil .cabecera .infoPersonal p {
		margin-bottom: 3.5%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 7.5%;
	}
}
@media only screen and (max-width: 650px) {
	.perfil .cabecera img {
		margin: 5% 0 0 5%;
	}
	.perfil .cabecera .nick {
		margin: 15% 0 0 9%;
	}
	.perfil .cabecera .infoPersonal {
		padding-top: 9%;
	}
	.perfil .cabecera .infoPersonal p {
		margin-left: 5%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 6.5%;
	}
}
@media only screen and (max-width: 600px) {
	.perfil .cabecera .infoPersonal {
		padding-top: 10%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 6%;
	}
}
@media only screen and (max-width: 550px) {
	.perfil .cabecera .nick {
		margin-left: 6%;
	}
	.perfil .cabecera .infoPersonal {
		padding-top: 11%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding-left: 5.5%;
	}
}
@media only screen and (max-width: 500px) {
	.perfil .cabecera img {
		margin-top: 6%;
	}
	.perfil .cabecera .nick {
		margin: 17% 0 0 4.5%;
	}
	.perfil .cabecera .infoPersonal {
		padding-top: 12%;
	}
	.perfil .restoPerfil .pelisAgregadas div {
		padding: 5% 0 0 5%;
	}
}