/*-------------------- Registro --------------------*/
#registro {
	width: 87%;
	margin: 25px 5% 28px 5%;
}
#registro fieldset {
	padding-left: 3%;
}
#registro fieldset legend {
	text-transform: uppercase;
	font-family: 'Calibri';
	font-size: 150%;
	font-weight: bold;
}
#registro label {
	float: left;
}
#registro input[type="button"] {
	float: left;
	margin-left: 15%;
	font-weight: bold;
}
.correct {
	position: absolute;
	height: 33px;
	width: 110px;
	padding: 5px;
	border: 1px solid #036904;
	background-color: #47A347;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}
.incorrect {
	position: absolute;
	height: 33px;
	width: 110px;
	padding: 5px;
	border: 1px solid #9A0612;
	background-color: #AC3030;
	color: white;
	border-radius: 5px;
	font-weight: bold;
	text-align: center;
}
#registro .obligatorio {
	color: red;
}
#registro .alert {
	display: none;
}
@media only screen and (min-width: 992px) {
	#registro .alert {
		width: 75%;
	}
}
@media only screen and (max-width: 992px) {
	#registro fieldset div.button {
		text-align: center;
	}
}
@media only screen and (min-width: 1200px) {
	#registro .alert {
		width: 60%;
	}
}